<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; URL='{{ redirect_url }}'" />
    <link rel="canonical" href="{{ redirect_url }}">
    <title>Redirecting...</title>
</head>
<body>
    <p><a href="{{ redirect_url }}">Click here</a> if you are not automatically redirected.</p>
</body>
</html>
