.btn {
	display: inline-block;
	margin-bottom: 0;
	font-family: @headings-font-family;
	font-weight: 400;
	text-align: center;;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 2px solid;
	text-decoration: none !important;
	white-space: nowrap;
	outline: 0;
	transition: color 0.2s, border-color 0.2s, background-color 0.2s;
	padding: 8px 20px 7px;
	font-size: @font-size-medium;
	text-transform: uppercase;
	line-height: 26px;
	border-radius: 5px;

	border-color: @color-subtle-link;
	color: @color-subtle-link;

	&:hover,
	&:focus {
		border-color: darken(@color-subtle-link, 10%);
		color: darken(@color-subtle-link, 10%);
		text-decoration: none;
	}

	&:active {
		background-image: none;
	}
}

.btn > .fa-after {
	margin-left: 5px;
}

.btn-block {
	display: block;
	width: 100%;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
	&.btn-block {
		width: 100%;
	}
}


.btn-primary {
	border-color: @color-blue-light;
	color: @color-blue-light;

	&:hover,
	&:focus {
		border-color: @color-blue;
		color: @color-blue;
	}
}

.btn-white {
	transition: color 0.2s, border-color 0.2s, background-color 0.2s, box-shadow 0.2s, text-shadow 0.2s;
	border-color: #fff;
	color: #fff;

	&:hover,
	&:focus {
		border-color: #fff;
		color: #fff;
		box-shadow: 0 0 10px fade(#fff, 50%);
		text-shadow: 0 0 10px fade(#fff, 50%);
	}
}
