.header {
	background: @color-header-bg 50% 50% no-repeat;
	background-size: cover;
	background-image: url('../images/header.jpg');
	min-height: 320px;
	position: relative;
	margin: 0 0 (@line-height-computed * 1.5) 0;
	color: @color-header-text;
	@media (min-width: @screen-tablet) {
		min-height: 520px;
	}
	a {
		transition: color 0.2s, text-shadow 0.2s;
		&:hover, &:focus {
			text-shadow: 0 0 15px fade(#fff, 30%);
		}
	}
}

.header-large {
	min-height: 420px;
	padding: 40px 0 0 0;
	text-align: center;
	@media (min-width: @screen-tablet) {
		padding: 80px 0 0 0;
		min-height: 620px;
	}
}

.header-cover {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: fade(@color-header-bg, 40%);
}

.header-gradient-bottom {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, fade(@color-header-gradient, 0%) 40%, fade(@color-header-gradient, 70%) 95%);
}

.header-content {
	position: relative;
	z-index: 10;
}

.header-content-bottom {
	margin-top: @gutter-size * 6;
	@media (min-width: @screen-tablet) {
		position: absolute;
		z-index: 10;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.header-title {
	margin: 0 0 0 0;
	padding: 0 0 @line-height-computed 0;
	color: @color-header;
	font-size: @font-size-h1;
	text-shadow: @text-shadow;
	@media (min-width: @screen-tablet) {
		font-size: @font-size-h1 + 6;
	}
}

.header-date {
	margin: @line-height-computed 0 0 0;
	color: @color-header-text;
	font-size: @font-size-small;
	text-shadow: @text-shadow;
}

.header-link-back {
	float: right;
}

.header .identity-connect {
	position: absolute;
	z-index: 10;
	bottom: (@line-height-computed / 2);
	left: 0;
	right: 0;
	margin: 100px 0 0 0;
}
