<ul class="identity-connect">
	<li class="identity-connect-item"><a class="identity-connect-item-a" href="https://github.com/alesdotio" title="Fork me on Github"><span class="fa fa-github"></span></a></li>
	<li class="identity-connect-item"><a class="identity-connect-item-a" href="mailto:alesdotio@gmail.com" title="Send me an E-mail"><span class="fa fa-envelope"></span></a></li>
	<li class="identity-connect-item"><a class="identity-connect-item-a" href="https://twitter.com/alesdotio" title="Follow me on Twitter"><span class="fa fa-twitter"></span></a></li>
</ul>