<div class="identity-inline">
	<div class="identity-left">
		<div class="identity-info">
			<a href="/" class="identity-avatar" title="A personal blog about my adventures in the world of Python, Javascript, CSS3, HTML5, OSX and anything else really."><img src="{{ site.url }}images/ales.png" alt="Aleš Kocjančič" /></a>
		</div>
	</div>
	<div class="identity-right">
		<h1 class="identity-name"><a class="identity-name-a" href="{{ site.url }}">Aleš Kocjančič</a></h1>
		<h2 class="identity-nickname"><a class="identity-nickname-a" href="{{ site.url }}">@alesdotio</a></h2>
	</div>
</div>