<h1 class="identity-name"><a class="identity-name-a" href="{{ site.url }}">Aleš Kovan</a></h1>
<div class="identity-info">
	<a href="/" class="identity-avatar" title="A personal blog about my adventures in the world of Python, Javascript, CSS3, HTML5, OSX and anything else really."><img src="{{ site.url }}images/ales.png" alt="Aleš Kovan" /></a>
	<h2 class="identity-nickname"><a class="identity-nickname-a" href="https://github.com/alesdotio">@alesdotio</a></h2>
</div>
<div class="identity-profession">
	<p>Full stack web developer and founder at <a class="identity-profession-a" href="http://www.plecto.com" target="_blank">Plecto</a>, aspiring game designer.</p>
</div>
