<h1><a href="/">Aleš Kocjančič</a></h1>
<div class="info clearfix">
	<a href="/" class="avatar" title="Aleš"><img src="http://www.gravatar.com/avatar/572a5cd20354ac4b9a019547b6c0c6a0.png?s=80" alt="Aleš Kocjančič" /></a>
	<h2><a href="https://github.com/alesdotio">@alesdotio</a></h2>
</div>
<p>Full Stack Web Developer</p>
<p>Founder at <a href="http://livesystems.info" target="_blank">LiveSystems</a></p>
<ul class="connect">
	<li><a href="https://github.com/alesdotio" class="avatar" title="Fork me on Github"><img src="/images/github.png" alt="github" /></a></li>
	<li><a href="mailto:alesdotio@gmail.com" class="avatar" title="Send me an E-mail"><img src="/images/email.png" alt="email" /></a></li>
	<li><a href="http://www.linkedin.com/in/aleskocjancic" class="avatar" title="Read about me on LinkedIn"><img src="/images/linkedin.png" alt="linkedin" /></a></li>
	<li><a href="https://twitter.com/alesdotio" class="avatar" title="Follow me on Twitter"><img src="/images/twitter.png" alt="twitter" /></a></li>
</ul>
<div class="clear"></div>