<h1><a href="/">Aleš Kocjančič</a></h1>
<div class="info clearfix">
	<a href="/" class="avatar" title="A personal blog about my adventures in the world of Python, Javascript, CSS3, HTML5, OSX and anything else really."><img src="http://www.gravatar.com/avatar/572a5cd20354ac4b9a019547b6c0c6a0.png?s=160" alt="Aleš Kocjančič" /></a>
	<h2><a href="https://github.com/alesdotio">@alesdotio</a></h2>
</div>
<div class="job">
	<p>Full stack web developer and founder at <a href="http://www.plecto.com" target="_blank">Plecto <span class="fa fa-external-link"></span></a></p>
</div>
<ul class="connect">
	<li><a href="https://github.com/alesdotio" class="avatar" title="Fork me on Github"><img src="/images/github.png" alt="github" /></a></li>
	<li><a href="mailto:alesdotio@gmail.com" class="avatar" title="Send me an E-mail"><img src="/images/email.png" alt="email" /></a></li>
	<li><a href="http://www.linkedin.com/in/aleskocjancic" class="avatar" title="Read about me on LinkedIn"><img src="/images/linkedin.png" alt="linkedin" /></a></li>
	<li><a href="https://twitter.com/alesdotio" class="avatar" title="Follow me on Twitter"><img src="/images/twitter.png" alt="twitter" /></a></li>
</ul>
<div class="clear"></div>
