@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');

@import "tailwindcss/base";
@import "./base.pcss";
@import "tailwindcss/components";
@import "./container.pcss";
@import "tailwindcss/utilities";

