.loader {
    display: inline-block; width: 15px; height: 15px;
    border: solid 5px transparent;
    border-top-color: #245dff;
    border-left-color: #245dff;
    border-radius: 100%;
    -webkit-animation: loader-spin 400ms linear infinite;
    -moz-animation: loader-spin 400ms linear infinite;
    -ms-animation: loader-spin 400ms linear infinite;
    -o-animation: loader-spin 400ms linear infinite;
    animation: loader-spin 400ms linear infinite;
}

@-webkit-keyframes loader-spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loader-spin {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loader-spin {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loader-spin {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loader-spin {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}