<!doctype html><html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>{{ page.title }}</title>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}css/style.css">
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="article" />
	{% if page.picture %}<meta property="og:image" content="{{ site.url }}{{ page.picture }}">{% endif %}
	{% include analytics.html %}
</head>
<body>
	<div id="top"></div>
	{{ content }}
</body>
</html>
