<!doctype html><html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>{{ page.title }}</title>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	{% include analytics.html %}
</head>
<body>
	<div id="top"></div>
	{{ content }}
	<footer class="footer">
		<div class="container">
			<p><a href="{{ site.url }}" class="btn">Read more posts</a></p>
			<a href="#top" class="footer-link-top" title="Jump to top"><span class="fa fa-arrow-circle-up"></span></a>
		</div>
	</footer>
</body>
</html>
