---
permalink: 404.html
---
{% extends "base.njk" %}

{% block content %}
	<h1>404</h1>
	<h3>Sorry, couldn't find what you were looking for.</h3>
	<p>&nbsp;</p>
	<p><a href="/">back to the homepage</a></p>
{% endblock %}
